h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 10px;
}
a {
    text-decoration: none;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid #index {
    border-right: 2px solid black;
    padding-left: 5px;
}
#grid #body {
    padding-left: 5px;
}
@media(max-width: 800px){
    h1 {
        font-size: initial;
        border-bottom: none;
    }
    #grid {
        display: block;
    }
    #grid #index {
        border-right: 0px;
        padding-left: 0px;
    }
    #grid #body {
        padding-left: 0px;
    }

}